:root {
    --color-azul: rgb(0, 0, 0);
    --color-blanco: rgb(255, 255, 255);
    --color-azul-cian: rgb(28, 88, 255);
    --letras-btn: #ffffff;
}

.bg_primary {
    background-color: #55b3d8;
    color: var(--color-blanco);
}

.btn_primary {
    background-color: #073379;
    color: var(--letras-btn);
    border-color: #073379;
    border-radius: 25px;
}

.btn_primary:hover {
    background-color: #0b244b;
    color: var(--letras-btn);
    border-color: #0b244b;
    border-radius: 25px;
}

.btn_outline_danger {
    color: #ca0000;
    border-color: #ca0000;
    border-radius: 25px;
}

.btn_outline_danger:hover {
    background-color: #7c0a0a;
    color: var(--letras-btn);
    border-color: #7c0a0a;
    border-radius: 25px;
}

.p {
    color: #5d9b9b;
}

.nt {
    color: #34b6f4;
}

.na {
    color: #95fab9;
}

.o {
    color: #f4fab4;
}

.s {
    color: #f7cae7;
}

.t-2 {
    padding-left: 2%;
}

.t-3 {
    padding-left: 4%;
}

.t-4 {
    padding-left: 6%;
}

.t-5 {
    padding-left: 8%;
}

.t-6 {
    padding-left: 10%;
}

.t-7 {
    padding-left: 12%;
}

.t-8 {
    padding-left: 14%;
}

.t-9 {
    padding-left: 16%;
}

.t-10 {
    padding-left: 18%;
}
