:root{
	--color-azul: rgb(0, 0, 0);
	--color-blanco: rgb(255,255,255);
	--color-azul-cian: rgb(28, 88, 255);
	--letras-btn: #fff;
}

/*----------Botones-------------*/
.btn-primary{
	background-color: #073379;
	color: var(--color-blanco);
	border-color: #073379;
	border-radius: 25px;
}

.btn-primary:hover{
	background-color: #0b244b;
	color: var(--color-blanco);
	border-color: #0b244b;
	border-radius: 25px;
}

.btn-secondary{
	background-color: #707070;
	color: var(--color-blanco);
	border-color: #707070;
	border-radius: 25px;
}

.btn-secondary:hover{
	background-color: #83807C;
	color: var(--color-blanco);
	border-color: #83807C;
	border-radius: 25px;
}

.btn-success{
	background-color: #44d120;
	color: var(--color-blanco);
	border-color: #44d120;
	border-radius: 25px;
}

.btn-success:hover{
	background-color: #38ac1b;
	color: var(--color-blanco);
	border-color: #38ac1b;
	border-radius: 25px;
}

.btn-danger{
	background-color: #ca0000;
	color: var(--color-blanco);
	border-color: #ca0000;
	border-radius: 25px;
}

.btn-danger:hover{
	background-color: #7c0a0a;
	color: var(--color-blanco);
	border-color: #7c0a0a;
	border-radius: 25px;
}

.btn-warning{
	background-color: #ffe26f;
	color: var(--color-azul);
	border-color: #ffe26f;
	border-radius: 25px;
}

.btn-warning:hover{
	background-color: #FFDC43;
	color: var(--color-azul);
	border-color: #FFDC43;
	border-radius: 25px;
}

.btn-info{
	background-color: #55b3d8;
	color: var(--color-blanco);
	border-color: #55b3d8;
	border-radius: 25px;
}

.btn-info:hover{
	background-color: #5587d8;
	color: var(--color-blanco);
	border-color: #5587d8;
	border-radius: 25px;
}

.btn-light{
	background-color: #fff;
	color: var(--color-azul);
	border-color: #fff;
	border-radius: 25px;
}

.btn-light:hover{
	background-color: #ccc;
	color: var(--color-azul);
	border-color: #ccc;
	border-radius: 25px;
}

.btn-dark{
	background-color: #000;
	color: var(--color-blanco);
	border-color: #000;
	border-radius: 25px;
}

.btn-dark:hover{
	background-color: #0f0f0f;
	color: var(--color-blanco);
	border-color: #0f0f0f;
	border-radius: 25px;
}

.btn-outline-primary{
	
	color: #073379;
	border-color: #073379;
	border-radius: 25px;
}

.btn-outline-primary:hover{
	background-color: #0b244b;
	color: var(--color-blanco);
	border-color: #0b244b;
	border-radius: 25px;
}

.btn-outline-secondary{
	color: #707070;
	border-color: #707070;
	border-radius: 25px;
}

.btn-outline-secondary:hover{
	background-color: #83807C;
	color: var(--color-blanco);
	border-color: #83807C;
	border-radius: 25px;
}

.btn-outline-success{
	color: #44d120;
	border-color: #44d120;
	border-radius: 25px;
}

.btn-outline-success:hover{
	background-color: #38ac1b;
	color: var(--color-blanco);
	border-color: #38ac1b;
	border-radius: 25px;
}

.btn-outline-danger{
	color: #ca0000;
	border-color: #ca0000;
	border-radius: 25px;
}

.btn-outline-danger:hover{
	background-color: #7c0a0a;
	color: var(--color-blanco);
	border-color: #7c0a0a;
	border-radius: 25px;
}

.btn-outline-warning{
	color: #ffe26f;
	border-color: #ffe26f;
	border-radius: 25px;
}

.btn-outline-warning:hover{
	background-color: #FFDC43;
	color: var(--color-azul);
	border-color: #FFDC43;
	border-radius: 25px;
}

.btn-outline-info{
	color: #55b3d8;
	border-color: #55b3d8;
	border-radius: 25px;
}

.btn-outline-info:hover{
	background-color: #5587d8;
	color: var(--color-blanco);
	border-color: #5587d8;
	border-radius: 25px;
}

.btn-outline-light{
	color: #fff;
	border-color: #fff;
	border-radius: 25px;
}

.btn-outline-light:hover{
	background-color: #ccc;
	color: var(--color-azul);
	border-color: #ccc;
	border-radius: 25px;
}

.btn-outline-dark{
	color: #000;
	border-color: #000;
	border-radius: 25px;
}

.btn-outline-dark:hover{
	background-color: #0f0f0f;
	color: var(--color-blanco);
	border-color: #0f0f0f;
	border-radius: 25px;
}

/*----------Tablas-------------*/
.table-body{ /*color del cuerpo de la tabla*/
	background-color: #E2F0FF;
	width: 100%;
}

.table-head{ /*color de la cabecera de la tabla*/
	background-color: #3378BF;
	color: white;
	width: 100%;
}

.ps-6{
	padding-left: 4.5rem !important;
}