.primary {
    background-color: #073379;
}
.secondary {
    background-color: #707070;
}
.success {
    background-color: #44d120;
}
.danger {
    background-color: #ca0000;
}
.warning {
    background-color: #ffe26f;
}
.info {
    background-color: #55b3d8;
}
.light {
    background-color: #fff;
}
.dark {
    background-color: #000;
}
