.table-body {
    /*color del cuerpo de la tabla*/
    background-color: #e2f0ff;
    width: 100%;
}

.table-head {
    /*color de la cabecera de la tabla*/
    background-color: #3378bf;
    color: white;
    width: 100%;
}
