:root{
	--color-negro: #000;
	--color-blanco: #fff;
	--color-azul: #55b3d8;
    --color-azul-oscuro: #1b396a;
}

.card-custom{
    background: var(--color-blanco);
    border-radius: 25px; 
    border: 2px  solid var(--color-azul);
    border-bottom: 2px  solid var(--color-azul);
}

.card-custom > .card-header{
    background: none;
}

.card-item{
	background: var(--color-blanco);
	font-size: x-large;
	font-weight: bold;
	border: 2px solid;
	border-color: var(--color-azul);
	border-radius: 22px;
}
.card-item a{
	text-decoration:none;
	color: var(--color-azul-oscuro);
}

.text-black{
	color: var(--color-negro) !important;
}

.shadow{
	box-shadow: -3px 3px 5px rgb(153, 153, 153, 0.7);
}
